
.App {
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #45aaf2;
}