
.App {
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 3.5rem 3.5rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #ffff;
}

@media (max-width:500px) {
  .App {
  padding: 2.5rem 1rem;
  }
}

@media (max-width:1100px) {
  .App {
    padding: 2.5rem 1rem;
  }
}